.MyModal {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.299);
}

.MyModalContent {
    border-radius: 16px;
    background-color: white;
    padding: 20px;
    min-width: 250px;
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}